# Streamlit version
streamlit==1.16.0
streamlit-option-menu

# TensorFlow version compatible with Python 3.9
tensorflow==2.9.0

# OpenCV for image processing (headless version for servers)
opencv-python-headless==4.5.5.64

# NumPy for numerical computations
numpy

# Additional libraries for visualization and data processing
pandas
matplotlib
